@launcher-width: 120px;
@launcher-icon-size: 100px;
@launcher-width-small: 80px;
@launcher-icon-size-small: 64px;

.launcher {
  color: white;
  width: @launcher-width;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .icon {
    cursor: pointer;
    position: relative;
    width: @launcher-icon-size;
    height: @launcher-icon-size;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    transition: box-shadow .3s ease-out;
  }

  .icon:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
  }

  .icon:active {
    box-shadow: 0 1px 7px rgba(0, 0, 0, .5);
  }

  .badge:after {
    content: '';
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 3px solid #FF5722;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 50%, 0);
  }

  .title {
    cursor: pointer;
    max-width: @launcher-width;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
  }
}

.launcher + .launcher {
  margin-left: 20px;
}

.launcher.small {
  width: @launcher-width-small;

  .icon {
    width: @launcher-icon-size-small;
    height: @launcher-icon-size-small;
    box-shadow: none;
  }

  .icon:hover {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .2);
  }

  .icon:active {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .2);
  }

  .title {
    font-size: 12px;
    max-width: @launcher-width-small;
  }
}

.launcher.small + .launcher.small {
  margin-left: 0;
}

.tooltip {
  outline: none;
  z-index: 10000;
  display: block !important;

  .tooltip-inner {
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  @arrow-size: 8px;

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: @arrow-size;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: @arrow-size;

    .tooltip-arrow {
      border-width: @arrow-size @arrow-size 0 @arrow-size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -@arrow-size;
      left: calc(50% - @arrow-size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: @arrow-size;

    .tooltip-arrow {
      border-width: 0 @arrow-size @arrow-size @arrow-size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -@arrow-size;
      left: calc(50% - @arrow-size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: @arrow-size;

    .tooltip-arrow {
      border-width: @arrow-size @arrow-size @arrow-size 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -@arrow-size;
      top: calc(50% - @arrow-size);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: @arrow-size;

    .tooltip-arrow {
      border-width: @arrow-size 0 @arrow-size @arrow-size;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -@arrow-size;
      top: calc(50% - @arrow-size);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    @color: rgba(255, 255, 255, .5);

    .popover-inner {
      background: @color;
      padding: 20px;
      border-radius: 2px;
      box-shadow: 0 2px 15px rgba(black, .2);
    }

    .popover-arrow {
      border-color: @color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.icon-github {
  background-size: cover;
  border-radius: 100%;
  background-image: url("icons/github.png");
}

.icon-google {
  background: url("icons/google.svg");
}

.icon-zhihu {
  background: url("icons/zhihu.svg");
}

.icon-oschina {
  background: url("icons/oschina.svg");
}

.icon-stack-overflow {
  background: url("icons/stack_overflow.svg");
}

.icon-google-translate {
  background: url("icons/google_translate.svg");
}

.icon-youdao {
  background-size: cover;
  background-image: url("icons/youdao.png");
}

.icon-ithome {
  background-size: cover;
  background-image: url("icons/ithome.png");
}

.icon-iqiyi {
  background-size: cover;
  background-image: url("icons/iqiyi.png");
}

.icon-jd {
  background-size: cover;
  background-image: url("icons/jd.png");
}

.icon-tmall {
  background-size: cover;
  background-image: url("icons/tmall.png");
}
